@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "DMSerif";
  src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}
/* 'étoile donne du style à TOUS les éléments' */
/* *{
  margin: 0;
  padding: 0;
} */

body{
  font-family: "DMSerif", Verdana;
  background:url(./assets/img/bg.jpeg) center/cover;
  min-height: 100vh; /* VH (viewport height) = 100% de la taille de l'écran */
}

h1 {
  text-transform: uppercase;
  letter-spacing:3px ;
  text-align: center;
  font-size: 2.5rem; /* les tailles de police doivent-être en REM (1 REM = 16px) */
  text-shadow: 6px 3px 3px #00000042;
  color: rgba(0, 0, 139, 0.674);
  text-decoration:underline;
  font-family: 'Oswald', sans-serif;
}

main {
  min-height: 500px;
  width: 90%; /* utiliser les % seulement pr les largeurs */
  background: rgba(255, 255, 255, 0.413);
  margin: 0 auto; /* Centrer une boîte */
  border: 2px solid rgb(81, 183, 217);
  border-radius: 20px 0 20px 0;
  box-shadow: 0 0 17px 4px #31cdcaf2;
  padding: 15px;
}

h2 {
  margin: 0;
}

.flexbox, grid {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

/* FLEXBOX */
/* Sert à répartir équitablement des éléments sur la page  */

.flexbox ul {
padding: 0;
display: flex;
justify-content: space-around;
}

.flexbox li {
  list-style: none;
  height: 160px;
  width: 160px;
  margin: 10px;
  background: turquoise;
  /* Centrer un unique élément verticalement et horizontalement */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid img {
  height: 200px;
  width: 80%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
  margin: 5px;
  border: 1px solid darkblue;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "DMSerif";
  border-radius: 20px;
}

textarea {
  grid-area: ta;
  height: 40px;
  resize: none;
}

#btn-submit {
  grid-area: bt;
  cursor: pointer;
  background: cyan;
  transition: 0.2s;
}

#btn-submit:hover {
  background: pink;
  color: white;
}